@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

:root {
  font-family: (--font-inter);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: theme(--color-neutral-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
